html {
	scroll-behavior: smooth;
	font-size: 16px;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
img,
input {
	display: block;
}

body {
	width: 100%;
	background-color: #2b2f4b;
	display: flex;
	flex-direction: column;
}
/*Header*/

.particles-js {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: 0;
}
header {
	width: 100%;
	height: 100vh;
	background-color: #2b2f4b;
	color: #b1cdec;
}
/* navbar */
.nav {
	font-size: 1.1em;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.555);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid rgba(255, 255, 255, 0.37);
	border-bottom: 1px solid rgba(255, 255, 255, 0.37);
	padding: 1em 1em;
	position: fixed;
	top: 0;
	z-index: 10;
}

.nav ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 50%;
}
.nav ul li {
	list-style-type: none;
	margin-left: 80px;
}
.nav ul li a,
.nav ul li :any-link {
	color: white;
	text-decoration: none;
}
.nav ul li a:focus,
.nav ul li a:hover {
	opacity: 0.7;
}
header #particles {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.logo {
	background-color: white;
	border-radius: 50%;
	height: 45px;
	width: 45px;
	margin-right: auto;
}

.welcomeInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.8em;
	height: 100vh;
	text-align: center;
}

.welcomeInfo h1 {
	font-size: 5em;
	font-weight: 500px;
	font-family: "Ubuntu";
}
.welcomeInfo p {
	font-size: 1.5em;
	color: rgba(255, 255, 255, 0.411);
}
.welcomeInfo span {
	font-weight: bolder;
	color: #b1cdec;
}
#menu-btn {
	color: white;
	cursor: pointer;
	display: none;
}
#close-menu-btn {
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
	display: none;
}
#resume-btn {
	background-color: white;
	outline: none;
	border: none;
	font-size: none;
	padding: 12px 30px;
	border-radius: 6px;
	cursor: pointer;
	font-weight: 500;
	margin-top: 38px;
	transition: 0.2 ease;
	z-index: 1;
	text-decoration: none;
	color: black;
}

#resume-btn:hover {
	background-color: #c06b3e;
	color: white;
}

main {
	margin: 0 auto;
	margin-top: 2em;
	background-color: #1c1d30;
	color: #b1cdec;
	width: 100%;
}
/*Sections*/
section {
	padding: 2.5em;
	padding-top: 8em;
	font-size: 1vw;
	display: flex;
	flex-direction: column;
}
section .header {
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	margin-bottom: 4em;
	background-color: rgba(255, 255, 255, 0.788);
}

section .header h2 {
	color: black;
	padding: 0.5em;
}
.header-icon {
	font-size: 2.5em;
}

.cards,
.feature-card {
	padding: 2.3em 1.875em;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
	border-radius: 1.25em;
	display: flex;
	gap: 1.875em;
	border: 1px solid transparent;
	min-width: 250px;
	transition: all 0.3s ease;
	width: 100%;
}
.cards:hover,
.feature-card:hover {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
	border: 1px solid rgba(0, 0, 0, 0.35);
	transform: scale(1.05);
}
.cards img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.info {
	display: flex;
	gap: 1rem;
	flex-direction: column;
}
#features .info {
	text-align: center;
}

#about .cards .info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	text-align: unset;
}
.projects img {
	border-radius: 1rem;
	border: 1px solid black;
	width: 100%;
}
.card {
	position: relative;
}
.project-links {
	display: flex;
	gap: 1rem;
	position: absolute;
	top: 0;
	left: 1rem;
	z-index: -10; /*to hide at the back of the particlejs*/
}
.project-links svg {
	box-shadow: 0 1px 1px white;
	border-radius: 50%;
	padding: 0.2rem;
	background-color: black;
}

section .info h1 {
	margin-bottom: 1.25em;
	font-size: 1.7em;
	font-weight: bold;
	font-family: "Ubuntu";
}

section .info p {
	font-size: 1.2em;
	line-height: 1.8;
}

section .section-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 2.5em 0;
	padding: 0.3em;
	border-radius: 0.3em;
}
section .section-footer a {
	text-decoration: none;
	font-size: 1.3em;
	color: #1c1d30;
	border: 1px solid transparent;
	padding: 0.625em 3.125em;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
	border-radius: 0.375em;
	transition: all 0.5s ease;
	background-color: #b1ccec9c;
}
section .section-footer a:hover {
	box-shadow: none;
	border-color: white;
}

.skillSet {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	width: 100%;
	text-align: unset;
	gap: 1rem;
}
.skillSet p {
	display: flex;
	gap: 1.5em;
}

.feature-cards {
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
}
.feature-cards .cards {
	display: flex;
	flex-direction: column;
	flex: 1;
	min-width: 250px;
}
.card {
	position: relative;
}
.infosvg {
	width: 100%;
	text-align: center;
	margin-bottom: 1.2em;
}
.info h3 {
	text-decoration: underline;
}
.info p {
	font-size: 1.1em;
}

.info a {
	color: white;
	font-style: italic;
}

form {
	width: 40%;
	min-width: 250px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding: 2em;
	justify-content: space-between;
	gap: 1em;
	font-size: 1.1em;
	border: 1px solid rgba(0, 0, 0, 0.486);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}
form input,
textarea {
	padding: 0.5em;
	border: none;
	width: 100%;
}
input:focus,
textarea:focus {
	outline: none;
	opacity: 0.9;
}
.scrollTotop:hover {
	border-color: white;
	box-shadow: none;
}

/* Button Styles */
#cta-button {
	display: inline-block;
	padding: 15px 30px;
	background-color: #7a1d00;
	color: #ffffff;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
	transition: background-color 0.3s, color 0.3s;
}
.cta-button {
	background-color: #7a1d00;
	color: white;
	cursor: pointer;
}

.cta-button:hover #cta-button:hover {
	background-color: color;
	color: #7a1d00;
}

.cta-button:focus {
	outline: none;
}

.cta-button:active {
	background-color: #7a1d00;
	color: #ffffff;
}

/* Footer Stlyes*/
footer {
	background-color: black;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	font-size: 0.8em;
}
footer div {
	display: flex;
	gap: 2em;
	align-items: center;
	justify-content: center;
}
footer div p {
	display: flex;
	gap: 1em;
}
.scrollTotop {
	position: fixed;
	bottom: 5em;
	right: 0.2em;
	background-color: #2b2f4b;
	color: white;
	border: 1px solid transparent;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
	cursor: pointer;
	padding: 1.1em 1.2em;
	border-radius: 50%;
	font-size: 0.5em;
	transition: all 0.9s ease;
}

@media screen and (max-width: 720px) {
	html {
		font-size: 14px;
	}
	/*nav bar*/
	header.show-mobile-menu::before {
		content: " ";
		position: absolute;
		left: 0;
		height: 6100px;
		width: 100%;
		backdrop-filter: blur(5px);
		z-index: 10;
	}
	.nav ul {
		justify-content: flex-start;
		position: fixed;
		align-items: center;
		left: -200px;
		top: 0;
		flex-direction: column;
		width: 200px;
		height: 100vh;
		background-color: black;
		padding: 70px 40px 0;
		transition: left 0.3s ease;
		z-index: 10;
		gap: 1rem;
	}
	.nav ul li {
		margin-left: 0px;
	}
	.nav .navlinks {
		color: black;
	}
	#menu-btn,
	#close-menu-btn {
		display: block;
	}
	#menu-btn {
		z-index: 0;
	}
	header.show-mobile-menu .nav ul {
		left: 0;
	}

	.logo {
		height: 30px;
		width: 30px;
	}

	/*Welcome note*/
	.welcomeInfo h1 {
		font-size: 4em;
	}
	.welcomeInfo p {
		font-size: 1.3em;
		line-height: 1.2;
		width: 60%;
	}

	.aboutScroll {
		display: none;
	}
	main {
		margin-top: unset;
	}
	/*Section*/
	section {
		padding: 2.5em;
		padding-top: 1.5em;
		font-size: 0.8em;
		text-align: center;
	}
	#about .cards {
		flex-direction: column;
		align-items: center;
	}
	.abridged {
		display: none;
	}
	#about img {
		width: 150px;
		height: 150px;
		border: 4px double black;
	}

	.cards:hover,
	.feature-card:hover {
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
		border: 1px solid transparent;
		transform: scale(1);
	}
	section .section-footer a {
		display: none;
	}
	#cta-button {
		text-decoration: none;
		font-size: 1.3em;
		border: 1px solid transparent;
		padding: 0.625em 3.125em;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
		border-radius: 0.375em;
		display: inline-block;
		background-color: #ff5722;
		color: #ffffff;
		cursor: pointer;
	}
	body {
		background-color: black;
	}
}
